.footer {
    background-color: rgba(0, 0, 0, 0.082);
}

/* .footer{
    height: 5rem;
} */
.socialLinks {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin: 0 auto;
}
.contactBtn {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}

.homeBtn {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}