.womensMain {
    display: flex;
    flex-direction: column;
    background-color: #e59885;
    opacity: 0.9;
    padding: 3%;
    
}
.womensMainCont {
    
    border: #e59885;
    border-style: double;
    box-shadow: #b37655;
    background-image: url("../../images/fourMom.jpeg") ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% 100%;
    min-height: 100%;
    background-color:  #ecb1a2;
    border-width: 6px;
    max-height: 20%;
    max-width: 60%;
    margin: auto 0;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding:2%;
    
}

.crd {
    max-height: 15rem;
    max-width: 15rem;
    
    justify-content: center;
    align-self: center;
    padding:2%;
}

.crdBod {
    opacity: 0.9;
}

#tops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: #b37655;
    
}





