.womensMain {
    display: flex;
    flex-direction: column;
    background-color: #b96b42;
    opacity: 0.9;
    padding: 3%;
    
}
.womensMainCont {
    border: bisque;
    border-style: double;
    background-color: #b96b42;
    border-width: 4px;
    max-height: 20%;
    max-width: 60%;
    margin: auto 0;
    justify-content: center;
    align-self: center;
    text-align: center;
    padding:2%;
    
}

.crd {
    max-height: 15rem;
    max-width: 15rem;
    
    justify-content: center;
    align-self: center;
    padding:2%;
}

#tops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: #b37655;
    
}





